.bg-container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f0bb03;
  font-family: 'Bree Serif';
  font-size: 45px;
  font-weight: bold;
}
.description {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 25px;
  font-weight: 700;
}
.btn {
  background-color: #ffffff;
  color: #1e293b;
  width: 150px;
  height: 45px;
  border-radius: 10px;
  border-width: 0px;
  font-weight: 700;
}
